* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;

}
header {
  background: rgba(255, 255, 255, 0.1); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

body {
  position: relative; /* Necesario para usar el pseudoelemento */
  margin: 0;
  height: 100%;
  z-index: 0; /* Asegura que el contenido esté por encima del fondo */
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../images/v870-tang-35-min_11zon.webp");
  background-size: cover; /* Asegura que la imagen cubra el área completa */
  background-position: right center; /* Centra la imagen a la derecha */
  background-repeat: no-repeat; /* Evita que la imagen se repita */
  opacity: 0.2; /* Ajusta la opacidad */
  z-index: -1; /* Asegura que esté detrás del contenido */
}

.nav-link{
  border-radius: 5px;
}
.nav-link:hover {
  background-color: skyblue;
  transition: background-color 0.5s ease;
}

.contenedor {
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
height: 100vh;
}

p {
text-align: justify;
}

.btn {
  padding: 5px;
  text-decoration: none;
  width: fit-content;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.input {
border: solid 1px rgb(196, 196, 196);
border-radius: 5px;
}

.btn-cat {
text-decoration: none;
}

main {
margin: 0;
padding: 0;
flex-grow: 1;
overflow-y: auto;
}

.inicio {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.imgLogo {
width: 200px;
border: none;
}

.titulo-inicio {
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image:linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url(../images/atencion-farmacia.jpg);
  background-position: right;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-tituo-inicio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 60%;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border-radius: 5px;
}

.text-tituo-inicio h2 {
  font-size: 48px;
}


.descripcion-inicio {
font-size: large;
display: flex;
align-items: center;
justify-content: center;
width: 70%;
margin: 50px 0px;
}

.text-descrip-inicio {
font-size: large;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin: 30px 30px 30px 0px;
}

.imagenes-descrip-inicio {
width: 100%;
display: flex;
justify-content: space-around;
}

.imagenes-inicio {
width: 10rem;
height: auto;
padding: 10px;
mix-blend-mode: darken;
}

.acercaDe {
display: flex;
justify-content: center;
margin: 60px 0px;
}

.titulo-acercaDe {
text-align: center;
}

.container-nos {
display: flex;
justify-content: center;
align-items: center;
width: 70%;
}

.img-nos {
  width: 400px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);

}

.img-nos img {
width: 100%;
border-radius: 5px;
}

.img-nos-responsive {
  display: none;
  visibility: hidden;
  flex: 1;
  margin: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.descrip-nos {
  margin: 10px;
}

.img-nos-responsive img {
width: 100%;
height: 100%;
object-position: center;
object-fit: cover;
}

.text-nos {
flex: 1;
padding: 0px 20px;
display: flex;
flex-direction: column;
justify-content: center;
gap: 10px;
}

.btn-nos {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
width: 100%;
}

.titulo-cat {
display: flex;
justify-content: center;
margin-bottom: 30px;
}

.categoria {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin: 60px 0px;
}

.contenedor-cat {
width: 70%;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
gap: 40px;
}

.card-cat {
width: 48%;
height: 100%;
display: flex;
align-items: start;
justify-content: start;
border-radius: 5px;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
background-color: #fff;
}

.img-cat {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  justify-content: center;
  align-items: center;
}

.imagen-cat {
width: 100%;
height: 100%;
object-position: center;
object-fit: cover;
box-sizing: content-box;
}

.txt-cat {
display: flex;
flex-direction: column;
justify-content: space-between;
padding: 20px;
flex: 1;
height: 200px;
}

.modal-btn {
display: flex;
justify-content: center;
align-items: center;
}

.tienda {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 750px;
margin: 60px 0px;
}

.titulo-tienda {
margin: 40px 0px 30px 0px;
}

.container-tienda {
width: 70%;
height: 100%;
}

.swiper {
height: 600px;
display: flex;
}

.swiper-wrapper {
display: flex !important;
height: 530px !important;
}

.swiper-slide {
display: flex;
flex-direction: column;
text-align: center;
background: #fff;
border: solid 1px #ececec;
border-radius: 5px;
overflow: hidden;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
height: 510px !important;
}

.img-tienda {
width: 100%;
height: 200px !important;
display: flex;
object-fit: cover;
object-position: center;
}

.text-card-tienda {
display: flex !important;
flex-direction: column;
justify-content: space-between !important;
padding: 0px 10px 10px 10px;
height: 300px;
}

.txt-tienda h5 {
padding: 15px 0px 15px 0px;
border-bottom: solid 1px #ececec;
border-top: solid 1px #ececec;
}

.text-card-tienda p {
text-align: justify;
font-size: 16px;
padding: 5px;
}

.contacto {
display: flex;
justify-content: center;
align-items: center;
margin: 60px 0px;
padding: 20px auto;
}

.container-contacto {
  padding: 20px;
  display: flex;
  width: 70%;
  border: solid 1px #ececec;
  border-radius: 5px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.texto-contacto {
font-size: large;
display: flex;
flex-direction: column;
width: 50%;
padding: 20px;
}

.formulario {
display: flex;
justify-content: center;
align-items: center;
flex: 1;
}

.input-form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 10px;
width: 100%;
}

.input-form button {
margin-top: 30px;
}

.input {
width: 80%;
}

.input-msj {
height: 50px;
resize: vertical;
}

footer {
background-color: black;
color: white;
display: flex;
justify-content: space-between;
padding: 10px;
align-items: center;
}

.maps {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
}

.horario {
display: flex;
justify-content: center;
align-items: center;
gap: 5px;
}

.redes {
display: flex;
justify-content: center;
align-items: center;
gap: 15px;
}

.direccion a,
.redes a {
text-decoration: none;
color: white;
}

#icon-uno {
filter: invert(38%) sepia(32%) saturate(1020%) hue-rotate(181deg)
  brightness(94%) contrast(91%);
}

#icon-dos {
filter: invert(80%) sepia(20%) saturate(2700%) hue-rotate(79deg)
  brightness(91%) contrast(81%);
}

#icon-tres {
filter: invert(37%) sepia(39%) saturate(7031%) hue-rotate(337deg)
  brightness(78%) contrast(137%);
}

#icon-cuatro {
filter: invert(38%) sepia(1%) saturate(621%) hue-rotate(7deg) brightness(99%)
  contrast(81%);
}

@media (max-width: 1430px) {
.card-cat {
  width: 100%;
}

.txt-cat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

  .text-card-tienda p {
      font-size: 12px;
  }

  .img-nos {
      width: 300px;
  }
}

@media (max-width:1024px) {
  .imagenes-descrip-inicio{
      flex-direction: column;
  }
  .img-nos {
      display: none;
      visibility: hidden;
  }

  .img-nos-responsive {
      display: flex;
      justify-content: center;
      align-items: center;
      visibility: visible;
      width: 100%;

  }

  .img-nos-responsive img {
      border-radius: 5px;
      width: 100%;
  }

  .responsive-nos {
      display: flex;
  }

  .descrip-nos {
      width: 60%;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
}

@media (max-width: 960px) {
.descripcion-inicio {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

  .imagenes-descrip-inicio {
      flex-direction: row;
      flex-wrap: wrap;
  }

.titulo-inicio {
  align-items: center;
  text-align: center;
}

.text-tituo-inicio h2 {
  font-size: 24px;
}

.text-tituo-inicio p {
  font-size: 16px;
}

.parrafo-serv {
  width: 100%;
}

.img-serv {
  margin: 10px 0px 10px 0px;
}

  .descrip-nos {
      width: 100%;
  }
  .responsive-nos {
      flex-direction: column;
  }
}

@media (max-width: 768px) {
.container-contacto {
  flex-direction: column;
}

.texto-contacto {
  width: 100%;
}

.text-descrip-inicio {
  margin: 30px 0px;
}
}

@media (max-width: 650px) {
footer {
  flex-direction: column;
  gap: 5px;
}

.card-cat {
  width: 90%;
  flex-direction: column;
  padding: 0px 0px 20px 0px;
  align-items: center;
}

.img-cat {
  width: 100%;
}

.txt-cat {
  padding-left: 0;
  padding: 20px 20px 0px 20px;
}

.txt-cat h5 {
  text-align: center;
}
}

@media (max-width: 600px) {
.titulo-inicio {
  height: 300px;
}

.img-oculta2 {
  display: none;
  visibility: hidden;
}

.txt-serv {
  flex-direction: column;
  padding: 25px 50px 25px 50px;
}

.serv2-acercaDe {
  flex-direction: column-reverse;
}

.card-cat {
  width: 90%;
}

.img-nos-responsive {
  display: none;
  visibility: hidden;
}

.descrip-nos {
  width: 100%;
}

.swiper-wrapper {
  height: 550px !important;
}
}

@media (max-width: 500px) {
.titulo-inicio {
  height: 200px;
}

.text-tituo-inicio p{
  font-size: 12px;
  margin: 10px;
}

.imagenes-inicio {
  width: 95%;
}

.imagenes-inicio {
  height: 100%;
}

.img-oculta {
  display: none;
  visibility: hidden;
}

.swiper-wrapper {
  height: 480px !important;
}
}

@media (max-width: 400px) {
.navbar-brand {
  width: 65%;
}

.imgLogo {
  width: 100%;
}

.card-cat {
  width: 80%;
}

.text-tituo-inicio {
  width: 85%;
}

.swiper-wrapper {
  height: 530px !important;
}

.txt-hidden {
  display: none;
  visibility: hidden;
}

p {
  text-align: start;
  font-size: 12px;
}
}