* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: #efefef; */
}

.contenedor {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

main {
    margin: 0;
    padding: 0;
    flex-grow: 1;
    overflow-y: auto;
}

.imgLogo {
    width: 200px;
}

.titulo-inicio {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    background-image: url(../images/woman-buys-drugs-pharmacy.jpg);
    background-position: right;
    background-size: cover;
    background-repeat: no-repeat;
}

.text-tituo-inicio {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
}

.text-tituo-inicio h2{
    font-size: 48px;
}

.text-tituo-inicio p{
    font-size: 24px;
}

.descripcion-inicio {
    display: flex;

}

.text-descrip-inicio {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagenes-descrip-inicio {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}

.imagenes-inicio {
    width: 200px;
    padding: 25px;
    mix-blend-mode: darken;
}

.titulo-acercaDe{
    text-align: center;
}

.txt-serv{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.parrafo-serv{
    width: 500px;
}

.img-serv{
    width: 300px;
    height: 200px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}

.img-serv img{
width: 100%;
object-fit: cover;
object-position: center;
}
/* Temporal */
footer {
    background-color: black;
}
@media (max-width: 960px) {
    .descripcion-inicio {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .imagenes-descrip-inicio {
        flex-wrap: wrap;
    }

    .titulo-inicio {
        align-items: center;
        text-align: center;
    }

    .text-tituo-inicio {
        padding: 20px;
        background-color: rgb(0, 0, 0, 0.4);
        color: white;
        border-radius: 5px;

    }

    .text-tituo-inicio h2{
        font-size: 24px;
    }
    
    .text-tituo-inicio p{
        font-size: 16px;
    }
    .txt-serv{
        flex-direction: column;
        padding: 25px 50px 25px 50px;
    }
    .parrafo-serv{
        width: 100%;
    }
    .serv2-acercaDe{
        flex-direction: column-reverse;
    }
    .img-serv{
        margin: 10px 0px 10px 0px;
    }
}